
{% filter md %}
                                        

3.                                                                                                                                                               Ценности

Цель:
Оказание помощи церквам Евразии в деле подготовки тружеников для созидания и развития церквей, готовых к воспроизводству новых в различных культурах.

Ценности:
    • фокус на служении в поместной церкви и организации новой;
    • Библейское и богословское образование на базе церкви через квалифицированных преподавателей (Еф. 4:11-12, 1 Тим. 3:15);
    • развитие учебных программ и исследовательских работ;
    • инновационное и креативное обучение, ведущее к изменению жизни;
    • партнерство с пасторами и богословами;
    • крепкая семья.

I.                                                                                                                                                                 О нас


6.                                                                                                                                                    Партнеры ИЦС

Разместить ЛОГО и название
КБС
АBWE
ЕААА
Horizon
Leadership RESOURCES
ВСЦ ЕХБ
Братство Независимых Церквей и Миссий ЕХБ Украины
Нард
Христианская книга

# История

Во времена Советского Союза, из-за отсутствия свободы вероисповедания, образовался вакуум в сфере христианского образования. После распада СССР открылись двери для проповеди Евангелия, и много людей стало приходить в церковь.  90-е годы 20-го века – это период масштабных евангелизаций, открытия новых церквей, воскресных школ для детей и взрослых, стремительного развития молодежного и лагерного служений, повсеместного распространения служения малых групп.  В связи с этим появилась острая необходимость в богословском образовании уже действующих служителей и подготовке новых.

Одним из ресурсов для помощи в духовном росте христиан и качественном обучении церковных работников стал Институт церковного служения, основанный в 1994 году в г. Одесса. Основным направлением работы института стало восполнение нужд церквей Евразии и подготовка миссионеров для основания новых церквей.

В 1994 г. открылась пятигодичная программа «Церковное служение», целью которой было дать образование уже несущим служение пасторам и диаконам. Параллельно была открыта также двухгодичная программа для проповедников, учителей воскресных школ и будущих руководителей церквей. Чтобы образование было неразрывно связано с церковью и служением в ней, институт изначально выбрал очно-заочную форму обучения, которой остается верен до сегодняшнего времени.

Первым руководителем ИЦС стал Майкл Лофтис, а с 1996 до 2001 года его служение продолжил Двейн Эрли. В 2001 на должность ректора был назначен Джон Тейлор, и много лет, вплоть до 2014 года, руководил деятельностью института.

Служение ИЦС стремительно развивалось, но нужды поместных церквей превышали возможности института. Поэтому в 2001 году ИЦС была создана новая стратегия: помимо учебного процесса в центральном Одесском кампусе, организовать обучение на базе поместных церквей. Директором по развитию института, для руководства процессом организации богословского образования в данном формате, был назначен Владимир Николаев.

ИЦС всегда стремился расширять своё служение в сфере образования. Так в партнёрстве со школой «Горизонт», США, был запущен новый проект: «Дистанционное образование на платформе Moodle». С 2012 г. Кейлеб Сюко стал деканом по онлайн-образованию.

Совместно с Дугласом Филлипсом, директором по публикациям, и командой переводчиков и редакторов в 2013 году начался процесс по переводу материалов и интегрированию их на платформу Moodle. В 2014 г. были переведены первые материалы для подготовки преподавателей и набрана первая группа по обучению будущих кураторов предметов.

Всегда желанием ИЦС было поддержание высокого качества образования, а не сведение института к уровню воскресной школы для взрослых. С этой целью было принято решение провести аудит и пригласить комиссию ЕААА для ознакомления со служением ИЦС. В 2013 г. состоялся ее первый визит, а в 2016 году была аккредитована программа «Диплом церковного служения».

Несколько лет ИЦС был в поиске партнёра в сфере богословского образования и нашел одного из них в лице Киевской богословской семинарии. Этому послужило то, что один из членов попечительского совета, Майк Густафсон, работает в КБС в качестве пастора семинарии, а Владимир Николаев закончил магистерскую программу в КБС. По рекомендации этих братьев и после долгих совещаний попечительского совета ИЦС с администрацией и педсоветом КБС, между данными учебными заведениями был заключён договор о сотрудничестве. КБС имеет высокий академический уровень, а ИЦС стремится быть ближе к поместной церкви. Этот тандем может привести к хорошим изменениям внутри школ ИЦС и КБС, а также к положительному влиянию их на поместные церкви и другие богословские школы.

В 2014 г. попечительским советом было принято решение перенести ИЦС в г. Киев. Исполняющим обязанности директора стал Ричард Феррари. Попечительский совет долго молился о новом украинском директоре ИЦС. На эту должность был приглашен Владимир Николаев. Переехав с семьей в Киев, он 1 июля 2015 года стал директором ИЦС, по совместительству исполняющим обязанности академического декана.

За 24 года существования Института церковного служения в нем обучалось более 700 братьев и сестер из Украины, России, Молдовы и Приднестровья. И получило дипломы около 400 выпускников.
{% endfilter %}
