{{ define `main` }}
<section class="content">
{{ .content }}

<h2>{{ .countries.usa }}</h2>
<table class="table" style="border: 1px solid #a1a1a1">
    <tbody>
    <tr>
        <td class="has-text-right"><strong>Online:</strong></td>
        <td>
          <p>
            <a rel="noreferrer" target="_blank" href="https://www.abwe.org/work/projects/live-global-church-ministries-institute-cmi-ukraine" class="tag is-link">Give Online in {{ .countries.usa }}</a>
          </p>
        </td>
    </tr>
    <tr>
        <td class="has-text-right"><strong>By&nbsp;Phone:</strong></td>
        <td>ABWE USA (800) 901-2293<br /><small>Please request funds be sent to <nobr>"Church Ministries Institute, Ukraine."</nobr></small></td>
    </tr>
    <tr>
        <td class="has-text-right"><strong>By&nbsp;Mail:</strong></td>
        <td>
            USA donors please note account #0824821 and send a check to:<br />
            <blockquote>ABWE<br />
            PO Box 8585<br />
            Harrisburg, PA 17105</blockquote>
        </td>
    </tr>
    </tbody>
</table>

<h2>{{ .countries.canada }}</h2>

<table class="table" style="border: 1px solid #a1a1a1">
    <tbody>
    <tr>
        <td class="has-text-right"><strong>Online:</strong></td>
        <td>
          <p>
            <a rel="noreferrer" target="_blank" href="https://www.abwe.ca/support-gods-work/give-now/" class="tag is-link">Give Online in {{ .countries.canada }}</a>
          </p>
        </td>
    </tr>
    <tr>
        <td class="has-text-right"><strong>By&nbsp;Phone:</strong></td>
        <td>ABWE Canada (877) 690-1009<br /><small>Please request funds be sent to <nobr>"Church Ministries Institute, Ukraine."</nobr></small></td>
    </tr>
    <tr>
        <td class="has-text-right"><strong>By&nbsp;Mail:</strong></td>
        <td>
            Canadian donors please note account #0757408 and send to:<br />
            <blockquote>ABWE Canada<br />
            #34-980 Adelaide St. S.,<br />
            London, ON N6E 1R3</blockquote>
        </td>
    </tr>
    </tbody>
</table>
</section>
{{ end }}
