---
import Navigation from "./fragments/navigation.astro";
import Language from "./fragments/language.astro";
import HeadMeta from "./fragments/headmeta.astro";
import Menu from "./menu.astro";
import Footer from "./fragments/footer.astro";
import './styles/style.sass';

const locale = /^\/en\//.test(Astro.url.pathname)
    ? "en" : /^\/ru\//.test(Astro.url.pathname) ? "ru" : "ua";
---
<html>
  <head>
    <HeadMeta
        title={Astro.props.title}
        description={Astro.props.description}
        keywords={Astro.props.keywords}
    />
  </head>
  <body class={Astro.props.class || "page"}>
    <div id="frame" class="container">
        <slot name="hero">
            <img alt="Church Ministries Institute Logo" src="/img/header/en-dark.png" />

            <Menu locale={locale} />
        </slot>
        <main>
            <section class="content">
              <slot />
            </section>
            </main>
        <footer>
            <slot name="footer">
                <Footer />
            </slot>
        </footer>
    </div>
  </body>
</html>

<style>
#lang {
  font-size: 1.6em;
}
</style>
